<% provide(:title, @user.name)%>
<h1><%= @user.name %> </h1>

<% if @user.questions.any? %>
<h3>Preguntas (<%= @user.questions.count %>)</h3>
<ol class="questions">
	<%= render @questions %>
</ol>
<%= will_paginate @questions %>
<% end %>

